{% extends 'adminlayout.html.twig' %}

{% block content %}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Email</th>
            <th scope="col">Rôle</th>
            <th scope="col">Date d'inscription</th>
            <th scope="col"></th>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.lastname }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.fkRoleId|replace({'1': '<i class="bi bi-shield-check"></i> Administrateur', '2': '<i class="bi bi-person-check"></i> Modérateur'}) }}</td>
                <td>{{ user.createdAt }}</td>
                <td><a class="link-danger" href="/user/delete/{{ user.id }}/" onclick="return window.confirm('Êtes-vous sur de vouloir supprimer cet utilisateur ?')">Supprimer</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="d-grid gap-2">
    <a class="btn btn-outline-primary" href="/login/dashboard/">Retour</a>
</div>

{% endblock content %}
