{% extends 'layout.html.twig' %}

{% block content %}

    <h1 class="h3">Bienvenue !</h1>

    <p>Je suis Teddy Lelong, développeur web PHP</p>

    <h2 class="h4">Découvrez mes derniers articles !</h2>

    <div id="articles-container" class="row row-cols-1 row-cols-md-2 g-3">
        {% for article in articles %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 class="card-title h5">{{ article.title }}</h3>
                        <h4 class="card-subtitle mb-2 text-muted h6">Écrit le {{ article.createdAt|date('d\/m\/Y \à H\\hi') }} par {{ article.authorName }}</h4>
                        <p class="card-text">{{ article.markdownExcerpt }}</p>
                        <p class="text-end mb-0">
                            <a href="/article/show/{{ article.id }}/" class="link-primary stretched-link">Lire la suite</a>
                        </p>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>

    <div class="text-center">
        <a class="btn btn-primary mt-3" href="/le-blog/">Voir tous les articles</a>
    </div>

    <hr/>

    <h2 id="me-contacter" class="h4">Me contacter</h2>

    <div id="contact" class="col-12 col-md-6">
        <p>Un projet à me proposer, une demande d'informations ? N'hésitez pas à me contacter par email en renseignant le formulaire ci-dessous !</p>

        {% include 'template-parts/website-contactform.part.twig' %}
    </div>

{% endblock content %}




