{% extends 'layout.html.twig' %}

{% block content %}

    <h1>{{ pageTitle }}</h1>

    <div id="articles-container" class="row row-cols-1 row-cols-md-2 g-3">
        {% for post in posts %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 class="card-title h5">{{ post.title }}</h3>
                        <h4 class="card-subtitle mb-2 text-muted h6">Écrit le {{ post.createdAt|date('d\/m\/Y \à H\\hi') }} par {{ post.AuthorFirstname }}</h4>
                        <p class="card-text">{{ markdown(post.excerpt) }}</p>
                        <p class="text-end mb-0">
                            <a href="/article/show/{{ post.pkid }}/" class="link-primary stretched-link">Lire la suite</a>
                        </p>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock content %}