{% extends 'layout.html.twig' %}
{% block content %}

<h1>{{ post.title }}</h1>

<p class="fs-6 text-muted">
    Écrit le {{ post.createdAt|date('d\/m\/Y \à H\\hi')  }} par {{ post.AuthorFirstname }}

    {% if post.updatedAt %}
        - Mis à jour le {{ post.updatedAt|date('d\/m\/Y \à H\\hi')  }}
    {% endif %}
</p>

<p>{{ markdown(post.excerpt) }}</p>

<hr>

{{ markdown(post.content) }}

{% if post.comments|length is same as(0) %}

    <h2 class="h4">Il n'y a pas encore de commentaires pour cet article... Soyez le premier !</h2>

{% else %}
    <h2 class="h4">Il y a déjà {{ post.comments|length }} réaction{% if post.comments|length > 1 %}s{% endif%} : </h2>

    {% for comment in post.comments %}
        <div class="comment m-2">
            <h3 class="h5">Commentaire de {{ comment.author }}</h3>
            <small class="text-muted">Le {{ comment.createdAt|date('d\/m\/Y \à H\\hi')  }}</small>
            <blockquote>
                {{ comment.content }}
            </blockquote>
        </div>
    {% endfor %}

{% endif %}

<hr>

<div class="col-12 col-md-6">
    <form action="/comment/insert/" method="POST">
        <h3 class="h5">Déposez votre commentaire ci-dessous !</h3>
        <input class="form-control mt-3 mb-3" type="text" name="author" placeholder="Votre pseudo">
        <input class="form-control mb-3" type="email" name="email" placeholder="Votre adresse email">
        <textarea class="form-control mb-3" name="content" id="" cols="30" rows="10" placeholder="Rédigez votre commentaire"></textarea>
        <input type="hidden" name="article_id" value="{{ post.pkid }}">
        <button class="btn btn-primary">Commenter !</button>
    </form>
</div>
{% endblock content %}