{% extends 'adminlayout.html.twig' %}

{% block content %}

{% for article in articles %}

    <h2 class="h3">{{ article.getTitle }}</h2>

    <p class="fs-6 text-muted">Écrit le {{ article.getCreatedAt|date('d\/m\/Y \à H\\hi') }} par {{ article.getAuthorName() }}</p>

    <p>{{ article.getMarkdownExcerpt }}</p>

    <div class="text-end">
    <a class="btn btn-sm btn-outline-primary" href="/article/showadmin/{{ article.getId }}/">Consulter</a>
    <a class="btn btn-sm btn-primary" href="/article/modify/{{ article.getId }}/">Modifier</a>
    <a class="btn btn-sm btn-outline-danger" href="/article/delete/{{ article.getId }}/" onclick="return window.confirm('Êtes-vous sur de vouloir supprimer cet article ?')">Supprimer</a>
    </div>

    <hr>

{% endfor %}

    <div class="d-grid gap-2">
        <a class="btn btn-outline-primary" href="/login/dashboard/">Retour</a>
    </div>

{% endblock content %}