{% extends 'adminlayout.html.twig' %}

{% block content %}

{% for post in posts %}

    <h2 class="h3">{{ post.title }}</h2>

    <p class="fs-6 text-muted">Écrit le {{ post.createdAt|date('d\/m\/Y \à H\\hi') }} par {{ post.AuthorFirstname }}</p>

    <p>{{ markdown(post.excerpt) }}</p>

    <div class="text-end">
    <a class="btn btn-sm btn-outline-primary" href="/article/showadmin/{{ post.pkid }}/">Consulter</a>
    <a class="btn btn-sm btn-primary" href="/article/modify/{{ post.pkid }}/">Modifier</a>
    <a class="btn btn-sm btn-outline-danger" href="/article/delete/{{ post.pkid }}/" onclick="return window.confirm('Êtes-vous sur de vouloir supprimer cet article ?')">Supprimer</a>
    </div>

    <hr>

{% endfor %}

    <div class="d-grid gap-2">
        <a class="btn btn-outline-primary" href="/login/dashboard/">Retour</a>
    </div>

{% endblock content %}