{% extends 'adminlayout.html.twig' %}

{% block content %}

{% include 'template-parts/admin/help/article-markdown.part.twig' %}

<form action="/article/update/" method="POST">
    <label class="form-label mt-2" for="title">Titre :</label>
    <input class="form-control" type="text" name="title" id="title" value="{{ post.title }}"/>

    <label class="form-label mt-2" for="excerpt">Extrait :</label>
    <textarea class="form-control" name="excerpt" id="excerpt" style="height: 100px">{{ post.excerpt }}</textarea>

    <label class="form-label mt-2" for="content">Contenu :</label>
    <textarea class="form-control" name="content" id="content" style="height: 200px">{{ post.content }}</textarea>

    <label class="form-label mt-2" for="author">Attribuer un nouvel auteur :</label>
    <select class="form-select" name="author" id="author">
        <option value="{{ post.authorId }}">Garder l'auteur actuel ({{ post.authorFirstname }})</option>
        {% for user in users %}
        <option value="{{ user.id }}">{{ user.firstname }} {{ user.lastname }}</option>
        {% endfor %}
    </select>

    <input type="hidden" name="id" value="{{ post.pkId }}">

    <div class="d-grid gap-2">
        <input class="btn btn-primary mt-3" type="submit" value="Mettre à jour">
        <a class="btn btn-outline-danger" href="/article/indexadmin/" onclick="return window.confirm('Souhaitez-vous quitter l\'éditeur ? Les infos saisies seront perdues.')">Annuler</a>
    </div>
</form>

{% endblock content %}
