{% extends 'adminlayout.html.twig' %}
{% block content %}

<h1>{{ article.getTitle }}</h1>

<p class="fs-6 text-muted">
    Écrit le {{ article.getCreatedAt|date('d\/m\/Y \à H\\hi')  }} par {{ article.getAuthorName }}

    {% if article.getUpdatedAt %}
        - Mis à jour le {{ article.getUpdatedAt|date('d\/m\/Y \à H\\hi')  }}
    {% endif %}
</p>

<p>{{ article.getMarkdownExcerpt }}</p>

<hr>

{{ article.getMarkdownContent }}

{% if commentaires|length is same as(0) %}

    <h2 class="h4">Il n'y a pas encore de commentaires pour cet article... Soyez le premier !</h2>

{% else %}
    <h2 class="h4">Il y a déjà {{ commentaires|length }} réaction{% if commentaires|length > 1 %}s{% endif%} : </h2>

    {% for commentaire in commentaires %}
        <div class="comment m-2">
            <h3 class="h5">Commentaire de {{ commentaire.getAuthor }}</h3>
            <small>Le {{ commentaire.getCreatedAt|date('d\/m\/Y \à H\\hi')  }}</small>
            <blockquote>
                {{ commentaire.getContent }}
            </blockquote>
            <a class="link-danger" href="/comment/delete/{{ commentaire.getId }}/" onclick="return window.confirm('Êtes-vous sûr de vouloir supprimer ce commentaire ?')">Supprimer</a>
        </div>
    {% endfor %}

{% endif %}

<form class="mt-5" action="/comment/insertadmin/" method="POST">
    <h3 class="h5">Déposez votre commentaire ci-dessous :</h3>
    <textarea class="form-control" name="content" id="" cols="30" rows="10" placeholder="Votre commentaire ..."></textarea>
    <input type="hidden" name="article_id" value="{{ article.getId }}">

    <div class="d-grid gap-2 mt-3">
        <button class="btn btn-primary" type="submit">Commenter !</button>
        <a class="btn btn-outline-danger" href="/article/indexadmin/">Retour</a>
    </div>
</form>

{% endblock content %}