{% extends 'adminlayout.html.twig' %}

{% block content %}

<div class="accordion" id="accordionPanelsStayOpenExample">

    <!-- Accordion #1 -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                <i class="bi bi-clock"></i>&nbsp;Commentaires en attente de modération {% if comments_pending|length >= 1 %}({{ comments_pending|length }}){% endif %}
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                {% if comments_pending|length >= 1 %}
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <th>Pseudo</th>
                        <th>Email</th>
                        <th>Contenu</th>
                        <th>Date d'ajout</th>
                        <th>Article</th>
                        <th></th>
                        <th></th>
                        </thead>
                        <tbody>
                        {% for comment in comments_pending %}
                            <tr>
                                <td>{{ comment.getAuthor }}</td>
                                <td>{{ comment.getEmail }}</td>
                                <td>{{ comment.getContent }}</td>
                                <td>{{ comment.getCreatedAt|date('d\/m\/Y \à H\\hi') }}</td>
                                <td><a href="/article/showadmin/{{ comment.getArticleId }}/">{{ comment.title }}</a></td>
                                <td><a class="link-success" href="/comment/approve/{{ comment.getId }}/"><i class="bi bi-hand-thumbs-up"></i> Approuver</a></td>
                                <td><a class="link-danger" href="/comment/disapprove/{{ comment.getId }}/"><i class="bi bi-hand-thumbs-down"></i> Désapprouver</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                    <p class="alert-primary p-3 rounded">Il n'y a aucun commentaire à modérer pour l'instant.</p>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Accordion #2 -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed text-success" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                Commentaires approuvés {% if comments_approved|length >= 1 %}({{ comments_approved|length }}){% endif %}
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
                {% if comments_approved|length >= 1 %}
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <th>Pseudo</th>
                        <th>Email</th>
                        <th>Contenu</th>
                        <th>Date d'ajout</th>
                        <th>Article</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        </thead>
                        <tbody>
                        {% for comment in comments_approved %}
                            <tr>
                                <td>{{ comment.getAuthor }}</td>
                                <td>{{ comment.getEmail }}</td>
                                <td>{{ comment.getContent }}</td>
                                <td>{{ comment.getCreatedAt|date('d\/m\/Y \à H\\hi') }}</td>
                                <td><a href="/article/showadmin/{{ comment.getArticleId }}/">{{ comment.title }}</a></td>
                                <td><a class="link-primary" href="/comment/pending/{{ comment.getId }}/"><i class="bi bi-clock"></i> Remettre en file d'attente</a></td>
                                <td><a class="link-danger" href="/comment/disapprove/{{ comment.getId }}/"><i class="bi bi-hand-thumbs-down"></i> Désapprouver</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                    <p class="alert-primary p-3 rounded">Il n'y a aucun commentaire approuvé pour l'instant.</p>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Accordion #3 -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed text-danger" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                Commentaires non-approuvés {% if comments_disapproved|length >= 1 %}({{ comments_disapproved|length }}){% endif %}
            </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
                {% if comments_disapproved|length >= 1 %}
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <th>Pseudo</th>
                        <th>Email</th>
                        <th>Contenu</th>
                        <th>Date d'ajout</th>
                        <th>Article</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        </thead>
                        <tbody>
                        {% for comment in comments_disapproved %}
                            <tr>
                                <td>{{ comment.getAuthor }}</td>
                                <td>{{ comment.getEmail }}</td>
                                <td>{{ comment.getContent }}</td>
                                <td>{{ comment.getCreatedAt|date('d\/m\/Y \à H\\hi') }}</td>
                                <td><a href="/article/showadmin/{{ comment.getArticleId }}/">{{ comment.title }}</a></td>
                                <td><a class="link-primary" href="/comment/pending/{{ comment.getId }}/"><i class="bi bi-clock"></i> Remettre en file d'attente</a></td>
                                <td><a class="btn btn-outline-danger" href="/comment/delete/{{ comment.getId }}/" onclick="return window.confirm('Souhaitez-vous vraiment supprimer ce commentaire ? Cette action est irréversible.')"><i class="bi bi-trash3"></i> Supprimer</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                    <p class="alert-primary p-3 rounded">Il n'y a aucun commentaire approuvé pour l'instant.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="d-grid gap-2 mt-4">
    <a class="btn btn-outline-primary" href="/login/dashboard/">Retour</a>
</div>

{% endblock content %}